<!-- HEADER START -->
<h1>{{title}}</h1>
<header>
  <div class="header__logo">
    <div class="header__img">
      <img class="header__img__item" src="img/h1.png" alt="png" />
      <h1>#соччный, мощщный</h1>
    </div>
  </div>
  <div class="logo">
    <a href="" class="logo__link">
      <img class="logo__link__img" src="img/bsb-logo.png" alt="png" />
    </a>
    <div class="music">
      <h3><a href="/add">Add</a></h3>
      <h4 class="music__text">Click and Enjoy __</h4>
      <div class="music__icon">
        <img class="music__icon-img" src="img/music.png" alt="png" />
      </div>
    </div>
  </div>
  <div class="shop">
    <img src="img/food.png" alt="png" class="shop__img" />
    <span class="shop__number">0</span>
    <ul class="shop__list">
      <li class="shop__item item">
        <p class="item__text">
          <span class="item__number">0</span>
          шт.
          <span class="item__price">0</span>
          сум
        </p>
      </li>
      <li class="shop__item">
        <a href="#!" class="shop__pay">Оформить</a>
        <a href="#!" class="shop__clear">Очистить</a>
      </li>
    </ul>
  </div>
  <div class="pig">
    <span class="pig__img"></span>
    МЫ НЕ ИСПОЛЬЗУЕМ
    <br />
    МЫ НЕ ИСПОЛЬЗУЕМ
    <br />
    (PORK FREE)
  </div>
  <div class="mouse">
    <div class="m__body">
      <div class="m__btn"></div>
    </div>
    <div class="m__corner">
      <span class="m__span"></span>
    </div>
  </div>
</header>
<!-- HEADER END -->

<!-- BURGER START -->
<section class="burger">
  <div class="wrapper">
    <div class="burger__menu">
      <h2 class="burger__title">Меню</h2>
      <div class="burger__description">
        Мы готовим наши бургеры из 100% натуральной мраморной говядины породы
        (абердин блэк) ангус без гормонов и антибиотиков, качество гарантировано
        группой компаний "Заречное", поставляющей для нас фарш из мраморной
        говядины под брендом "Праймбиф". Наша прожарка Medium well.
      </div>
    </div>

    <!-- FIRST STANDART START -->
    <div class="products" id="stdr">
      <h3 class="products__title">Бургеры - Стандартные</h3>
      <div class="product__box">
        {{#if allBurgers.length}}
        {{#each allBurgers}}
        <div class="card">
          <div class="card__body">
            <div class="card__aside">
              <img class="card__img" src="{{img}}" alt="jpg" />
            </div>
            <div class="card__header">
              <h5 class="card__name" data-name="gam">{{name}}</h5>
              <p class="card__text">{{title}}</p>
            </div>
            <div class="card__actions">
              <div class="card__price">
                <span class="amount">{{price}}</span>
                <span class="currency">сум</span>
              </div>
              <div class="flex-button d-flex align-center">
                <button class="card__btn" data-price="19999">Купить</button>
                <button class="card__btn-st" data-price="19999"> <a href="/add/{{id}}/edit">Edit</a></button>
              </div>
            </div>
            <div class="card__labels label">
              <img class="label__img" src="img/std.png" alt="png" />
            </div>
          </div>
        </div>
        <!-- MODAL START -->
        <div class="modal">
          <div class="modal__content">
            <div class="modal__top">
              <img class="top__img" src="{{img}}" alt="jpg" />
            </div>
            <div class="modal__bottom bottom">
              <div class="bottom__left">
                <div class="card__name modal__name">{{name}}</div>
                <span class="attr" style="display: none;"></span>
                <div class="card__price modal__price">
                  <span class="amount modal__amount">{{price}}</span>
                  <span class="currency">сум</span>
                </div>
                <div class="modal__quantity quantity">
                  <span class="modal__span">Количество:</span>
                  <div class="quantity__block">
                    <button class="quantity__minus">-</button>
                    <span class="quantity__show">1</span>
                    <button class="quantity__pilus">+</button>
                  </div>
                </div>
                <div class="modal__quantity pay">
                  <span class="modal__span">Всего:</span>
                  <div class="pay__right">
                    <span class="pay__amount">{{price}}</span>
                    <span class="currency">сум</span>
                  </div>
                </div>
                <form action="/card/add" method="POST">
                  <input type="hidden" value="{{id}}" name="id">
                  <div class="modal__action">
                    <button class="buttnn">Купить</button>
                  </div>
                </form>
              </div>
              <div class="bottom__right">
                <img class="bottom__img" src="img/about.jpg" alt="jpg" />
              </div>
            </div>
            <span class="modal__close"></span>
          </div>
        </div>
        <!-- MODAL END -->
        {{/each}}
        {{else}}
        <p> here is empty</p>
        {{/if}}
      </div>
    </div>

  </div>
</section>
<!-- BURGER END -->

<!-- PAYMENT START -->
<section class="payment">
  <div class="payment__card">
    <h3 class="payment__header">Ваш заказ</h3>
    <ul class="payment__menu">
      <li class="payment__menu-item">Название товара</li>
      <li class="payment__menu-item">Количество</li>
      <li class="payment__menu-item">Цена</li>
    </ul>
    <ul class="payment__card-products">
      <li class="payment__card-list">
        <ul class="payment__card-namebox namebox">
          <li class="namebox__item">Гамбургер</li>
          <li class="namebox__item">Фиш бургер</li>
          <li class="namebox__item">Чизбургер</li>
        </ul>
      </li>
      <li class="payment__card-list">
        <ul class="payment__card-count count">
          <li class="count__box">
            1


          </li>
        </ul>
      </li>
      <li class="payment__card-list">
        <ul class="products__list-price">
          <li class="products__list-amount amountbox"><span class="amountbox__item">20000</span>
            <span class="amount__currency">
              сум</span>
          </li>
          <li class="products__list-amount amountbox"><span class="amountbox__item">22000</span>
            <span class="amount__currency">
              сум</span>
          </li>
          <li class="products__list-amount amountbox"><span class="amountbox__item">25000</span>
            <span class="amount__currency">
              сум</span>
          </li>
        </ul>
      </li>
    </ul>
    <div class="payment__all">
      <div class="payment__all-box">
        <span class="payment__all-item">Всего:</span>
        <span class="payment__all-item">Доставка:</span>
      </div>
      <div class="payment__all-price">
        <div class="payment__all-total">
          <span class="payment__all-span">0</span>
          <span class="amount__currency">сум</span>
        </div>
        <div class="payment__all-delivery">
          <span class="delivery">30000</span>
          <span class="amount__currency">сум</span>
        </div>
      </div>
    </div>
    <div class="payment__total">
      <span class="payment__total-span">Итого:</span>
      <div class="payment__total-box">
        <span class="payment__total-price">0</span>
        <span class="payment__total-currency">сум</span>
      </div>
    </div>
    <h5 class="thanks">Спасибо за покупку</h5>
    <div class="payment__btns">
      <button class="pay__btn"><img class="pay__btn__img" src="img/Metro-Loading-32.png" alt="png" />
        <span class="pay__btn__span">оплатить</span></button>
      <button class="back__btn">назад</button>
      <a href="/" id="menu" style="display: none;">Меню</a>
    </div>
  </div>
</section>
<!-- PAYMENT END -->