<div class="container">
  <div class="row">
    <h1>This is {{title}}</h1>
    <div class="col-5 view-page">
      <div class="card p-page">
        <div class="card-image p-img">
          <img src="{{img}}" alt="jpg" />
          <span class="card-title">{{title}}</span>
        </div>
        <div class="card-content">
          <p>{{price}}</p>
        </div>
        <div class="card-action delate-click">
          <a href="/delete/{{id}}">Delate</a>
        </div>
      </div>
    </div>
  </div>
</div>